{% extends "base.html" %}

{% block content %}

<h3>Photos</h3>

<a href="/photos/add" class="btn btn-success btn-sm">
    <i class="glyphicon glyphicon-plus"></i>
    Add Photo
</a>

{% for photo in photos %}
<div class="media">
    <a href="/photos/{{photo.id}}">
        <div class="media-left">
            {% if photo.imageUrl %}
            <img src="{{photo.imageUrl}}" width="175" height="175" alt="gallery photo">
            {% else %}
            <img src="https://storage.googleapis.com/cloud-training/devapps-foundations/no-cover.png" width="175" height="175" alt="no photo available">
            {% endif %}
        </div>
        <div class="media-body">
            <h4>{{photo.description | truncate(100, True)}}</h4>
            <p><strong>People:</strong> {{photo.peopleInPhoto}}</p>
            <p><strong>Date:</strong> {{photo.dateTaken}}</p>
        </div>
    </a>
</div>
{% else %}
<p>No photos found</p>
{% endfor %}

{% endblock %}