{% extends "base.html" %}

{% block content %}

<h3>Photo Details</h3>

<div class="btn-group">
    <a href="/photos/{{photo.id}}/edit" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-edit"></i>
        Edit Photo
    </a>
    <a href="/photos/{{photo.id}}/delete" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-trash"></i>
        Delete Photo
    </a>
</div>

<div class="media">
    <div class="media-left">
        {% if photo.imageUrl %}
        <img class="book-image" src="{{photo.imageUrl}}" style="max-width: 400px; max-height: 400px;" alt="gallery photo">
        {% else %}
        <img class="book-image" src="https://storage.googleapis.com/cloud-training/devapps-foundations/no-cover.png" width="175" height="175" alt="no photo available">
        {% endif %}
    </div>
    <div class="media-body">
        <h4 class="book-title">
            <small>{{photo.dateTaken}}</small>
        </h4>
        <h5 class="book-author">People: {{photo.peopleInPhoto|default('Unknown', True)}}</h5>
        {% if translation_language is not none %}
        <p class="book-description"><strong>Description ({{description_language}}): </strong>{{photo.description}}</p>
        <p class="book-description"><strong>Translation ({{translation_language}}): </strong>{{translated_text}}</p>
        {% else %}
        <p class="book-description"><strong>Description: </strong>{{photo.description}}</p>
        {% endif %}
    </div>
</div>

{% endblock %}